@model HobbySwipe.ViewModels.Discover.QuestionAnswerViewModel

<section class="vh-100 d-flex align-items-center">
    <div class="container text-center py-7 mx-10">
        <h2>@Model.Question.QuestionText</h2>
        <form asp-action="Answer" asp-controller="Discover" method="post">
            <input type="hidden" asp-for="Answer.QuestionID" />
            @if (Model.Question.AnswerType == AnswerType.MultipleChoice)
            {
                foreach (var option in Model.Question.Options)
                {
                    <input type="radio" id="@option" name="Answer.Response" value="@option">
                    <label for="@option">@option</label>

                    <br>
                }
            }
            else if (Model.Question.AnswerType == AnswerType.OpenEnded)
            {
                <input type="text" asp-for="Answer.Response">
            }

            <input type="submit" value="Next" />
        </form>
    </div>
</section>


